[Unit]
Description=Reload nft-blackhole service
Requires=nft-blackhole.service
After=nft-blackhole.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nft-blackhole.py reload
