[Unit]
Description=Reload nft-blackhole service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nft-blackhole.py reload
